{
    foil => {
        name => "morbo",
        logoid => 'kplogo',
        navbar_host => 'localhost:81',
        navbar_links => [qw(
            /action/
            /address/
            /docs/
            /episodes/
            /fanfic/
            /gallery/
            /gusto/
            /harmony/
            /listfont/
            http://localhost/~kat/netfic/
            /profic/
            /stories/
            /text/
            /wiki/
            )],
    },
}
